{% extends "base_client.html" %}

    
{% load i18n %}

{% block content %}
<h2 class="changeBlue">PERFORMA for {{user.username}}</h2>
<br>
<table> 
{% if perf %}
    {% for performas in perf %}
     <tr><td>Name :</td><td>{{performas.first_name}} {{performas.middle_name}} {{performas.last_name}}</td></tr>
	 <tr><td>Address :</td><td>{{performas.address}}, {{performas.city}}, {{performas.state}} {{performas.company}} </td></tr>
	 <tr><td>Contact No :</td><td>{{performas.contact_no }}</td></tr>
	 <tr><td>Website :</td><td>{{performas.website}}</td></tr>
	 <tr><td>Email_id :</td><td>{{user.email}}</td></tr>
	 <tr><td>Type of Organisation :</td><td>{{performas.type_of_organisation}}</td></tr>
       {% endfor %}
{%endif %}
     
</table>	 
{% endblock %}
