{% extends "base.html" %}
{% load i18n %}
<html>

<head>
    <title>{{title.name}}</title>
	
</head>

{% block content %}

<body >
<h2>Add Performa Lab Work</h2>
 <table>
 
<br>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
	{% csrf_token %}
	<tr>
			 <td><label for="check">Test:</label></td>
			 <td>
			 	<table>
			 		{% if test %}
       					{% for tests in test%} 
       						<tr><input type="checkbox" name="test" value ="{{tests.id}}">
       						<label for="check">{{ tests.name }}</label><br />
       					{% endfor %}      
       				{% endif  %}
       			</table>
       		</td>
       		</tr>
			<tr>
			<td><input type="checkbox" name="other" id="other" value="1" 
			onclick="return yousendit();"/>
			<label for="check">Other Test</label>
			</td></tr>
		<script>
			function yousendit(){
    			if(document.getElementById('other').checked){
        		window.location='{{ LOCAL_URL }}/automation/tcc/otherperftest/?q={{ query }}';
        		return false;
    			}
    		return true;
			}
		</script>
         <tr><td><label for="id_sample">No. of such samples:</label></td><td><input id="id_sample" type="number" pattern="[0-9]" min="1" name="sample"  maxlength="11" required="Yes" title="You must enter a no. of samples in the range 1-9."/></td></tr>
	<tr><td><label for="id_site">Address of Site:</label></td><td><input id="id_site" type="site" name="site"  maxlength="600"   /></td></tr>
	<tr><td><label for="id_letter">Letter No:</label></td><td><input id="id_letter" name="letter_no"  maxlength="500" /></td></tr>
	<tr><td><label for="id_letterd">Letter Date:</label></td><td><input id="id_letter_date" name="letter_date"  maxlength="11" /></td></tr>	
	<tr><td><label for="id_tds">TDS:</label></td><td><input id="id_tds" type="number" name="tds"  maxlength="11" value=0 /></td></tr>	
	<tr>
			<td><label for="id_discount">Discount:</label></td>
			<td><input id="id_discount" type="number" name="discount"  maxlength="11" value=0 />
			</td>
		</tr>	
	<tr><td><label for="id_work">Type of Work:</label></td><td><select name="type_of_work">
{% for typeofwork in work %}
    <option value="{{typeofwork.id }}">{{ typeofwork.name }}</option>
{% endfor %}
</select></td></tr>
</table>
       
        <input type="submit" value="Submit">
    </form>
</html>
{% endblock %}
