<html>
<head>
<link rel="stylesheet" type="text/css" href="http://192.168.15.178/static/css2/report.css" /><title>Bill</title></head>
<div style="font-size:24px" align='center'><b>{{address.name}}</b></div>
<div style="font-size:14px" align='center'>{{address.status}}</div>
<div style="font-size:24px" align='center'>{{title.name}}</div>
<div style="font-size:14px" align='center'>{{address.address}}</div>
<div style="font-size:14px" align='center'><i>Website :</i> {{title.url}}  <i>Email 
:</i> {{title.url}}  <i>Ph :</i> {{title.phone}}  <i>Fax :</i> {{title.faxno}}</div><br><br>
<div align='left'>STC No. AAATN1978LSD001<br>PAN No. AAATN1978L</div>
<br>
<body>
<h2 align="center">BILL</h2>

<div style="position:absolute;top:290px;left:35px;">No. : GNDEC/TCC/B/{{ job_no }}</div>
<div style="position:absolute;top:290px;right:0px;">Dated : {{job_date}} </div>
<br/><br/>

<div align="left">To,<br><br>{% for add in getadd %} {{ add.client__client__first_name}} {{ add.client__client__middle_name}} {{ add.client__client__last_name}} {{ add.client__client__address}}  {{ add.client__client__city}}{% endfor %}
<br/><br/>
Ref.: Your Letter No. {% for letter in getadd %}{{letter.letter_no}} dated {{letter.letter_date}}{% endfor %}</br>
Site : {% for add in getjob %}{{ add.site}} {% endfor %}
</div>

<div align= "left">
	<table border="1" width="100%">
		<tr>
	<td><b>Details</b><BR><b>Charges for following </b></td>
<td style="border:1px solid #000;"><b>Description</b></td>

<td style="border:1px solid #000;" ><b>Per</b></td>
			<!--<td>Per. </td>
			<td>Rate (&#8377;)</td>
			<td>Amount (&#8377;)</td>-->



<!--<td >{% for test in getjob %}{{test.testtotal__unit_price}}<br>{% endfor %}</td>-->
		<td><b>Total(&#8377;)</b></td>
		</tr>
{% for material in getjob %}
		<tr><td> 
		   
			{% if material.report_type == 1 %} {{material.clienteditjob__material__name}}{% else %}{{material.suspenceeditjob__field__name}}{% endif %}
			
			</td>

<td >

		{{material.sample}}
		{% if material.suspenceeditjob__field__name == "Soil for BC" %}
		 Bore Hole each upto {{material.suspenceeditjob__other}} m depth
		{% elif material.clienteditjob__material__name == "Cubes" %}
		set
		{% elif material.suspenceeditjob__field__name == "Survey" or material.clienteditjob__material__name == "Structural Design (OHSR)" %}
		works of
		{% elif material.clienteditjob__material__name == "Mix Design" or material.clienteditjob__material__name == "Structural Design(Building)" or material.suspenceeditjob__field__name == "Hammer" %}
		No./s
		
		{% else %}
		 sample/s 
		{% endif %}
		</td>

<td > {% widthratio material.testtotalperf__unit_price material.sample 1 %} </td>

			<td align="right" > {{material.testtotalperf__unit_price}}
			</td>
			
		</tr>
		
			{% endfor%}
<tr>
<td>
<b>Total</b>
</td>

<td  colspan="2" >
</td>
<td  align="right">
<b>{{bill.price}}</b>
</td>
</tr>
<!--		<tr >
			
			<td colspan="4">Site : {% for add in getjob %}{{ add.site}} {% endfor %}</td>
		</tr>-->
</br>
		{% if bill.trans_total != None %}
		<tr>
			<td>Transportation Charges</td>
			<td colspan="2"></td>
			<td align="right">{{bill.trans_total}}</td>
		</tr>
		<tr>
			<td>Total Amount</td>
			<td colspan="2"></td>
			<td align="right">{{bill.trans_net_total}}</td>
		</tr>
		{% endif %}
		{% if bill.discount_total != 0 %}
		<tr>
			<td><b>Discount</b></td>
			<td colspan="2"></td>
			<td align="right"><b>{{bill.discount_total}}</b></td>
		</tr>
		<tr>
			<td>Balance Amount</td>
			<td colspan="2"></td>
			
			<td align="right">{{bill.trans_net_total}}</td>
		</tr>
		{% endif %}
		<tr>
			<td>Service Tax  @ {{ servicetaxprint }}% </td>
<td colspan="2"></td>
			<td align="right">{{ bill.service_tax }}</td>
		<tr>
			<td>Education Cess  @ {{ educationtaxprint }}% </td>
<td colspan="2"></td>
			<td align="right">{{ bill.education_tax }}</td>
		</tr>
		<tr>
			<td>Higher Education Cess  @ {{ highereducationtaxprint }}% </td>
<td colspan="2"></td>
			<td align="right">{{ bill.higher_education_tax }}</td>
		</tr>
		<tr>
				<td><b>G.Total (Rupees {{ net_total_eng }} only)</b> </td>
<td colspan="2"></td>
			<td  align="right"><b>{{ cdftotal }} {{ bill.net_total}}</b></td>
		</tr>	
	</table>
	<br/>
	<b>Note :</b>
	<ol>
	<li>Payment may be made vide D.D./Cash/Online in favour of Director, Guru Nanak Dev Engg. College, Ludhiana.</li>
	<li>Bank Details for Online Payment:</li>
	<table border="0">
	<tr><td>Name of Account Holder</td>
	<td>:</td>
	<td>Director, Guru Nanak Dev. Engg. College, Ludhiana</td>
	</tr>
	<tr><td>Name of Bank</td>
	<td>:</td>
	<td>Panjab & Sind Bank, Guru Nanak Dev Engg. College, Ludhiana</td>
	</tr>
	<tr><td>Branch</td>
	<td>:</td>
	<td>Gill, Ludhiana</td>
	</tr>
	<tr>
	<td>Online Account No.</td>
	<td>:</td>
	<td>002110000 50652</td>
	</tr>
	<tr><td>IFC Code No.</td>
	<td>:</td>
	<td>PSIB0000021</td>
	</tr>
	</table>
	</ol>

<div style="position:absolute;right:50px;top:1000px;">DEAN TESTING AND CONSULTANCY</div><br><br>
<div style="position:absolute;top:1050px;">I/We here by agree to the terms & conditions as mentioned above</div>

<div style="position:absolute;right:30px;top:1100px;">(Signature of Client/Deptt. Representative)</div>
</body>
</html>
