/* CSS Document */
.style1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 2em;
	font-style: italic;
	color: #bf8a44;
}
.styleC {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-style: italic;
	color: #bf8a44;
}
.style2 {
	color: blue;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}
.submit_button {
	margin-top: 15px;
	padding: 2px;
	background-color: #EAF4D9;
	float: right;
	margin-right: 40px;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid #E3E4E9;
	border-right: 2px solid #E3E4E9;
}
.style3 {
	font-size: 18px; 
	font-weight: bold;
 	color: #003F87;
	font-style:italic;
 }
 .MenuBarMenuBar1Menu,.MenuBarMenuBar1SubMenuTable
{
   font-family: Times New Roman, arial, sans-serif;
   font-size:20px;
   color: blue;
   background-color: #F9F7EA;
   font-weight: normal;
   padding: 0;
   border: 0;
   cursor: pointer;
   border: double;
   border-color: #000000;
   border-width: 3;
}
.MenuBarMenuBar1SubMenu
{
   position: absolute;
   visibility: hidden;
   border: 0;
   padding: 0;
}
.MenuBarMenuBar1SubMenuTable
{
   border-top:  2px double black;
}
.MenuBarMenuBar1Menu td
{
   padding:	0px 3px 0px 3px;
}
.MenuBarMenuBar1SubMenuTable td
{
   white-space: nowrap;
}
.MenuBarMenuBar1MainItem,.MenuBarMenuBar1MainItemHover,.MenuBarMenuBar1MainItemActive,
.MenuBarMenuBar1MenuItem,.MenuBarMenuBar1MenuItemHover,.MenuBarMenuBar1MenuItemActive
{
   white-space: nowrap;
}
.MenuBarMenuBar1MainItemHover,.MenuBarMenuBar1MainItemActive,
.MenuBarMenuBar1MenuItemHover,.MenuBarMenuBar1MenuItemActive
{
   color: #F9F7EA;
   background-color: lightblue;
   font-weight: bold;
   font-style: italic;
   font-size: 20px;


}
td.MenuBarMenuBar1MenuSplit
{
   overflow:	hidden;
   background-color:	inherit;
}
div.MenuBarMenuBar1MenuSplit
{
   height: 1px;
   margin: 1px 0px 1px 0px;
   overflow:	hidden;
   background-color:	inherit;
   border-top: 2px double black;
}
.MenuBarMenuBar1MenuVSplit
{
   display:	block;
   width: 1px;
   margin: 0px 3px 0px 3px;
   overflow: hidden;
   background-color: inherit;
   border-right:2px double black;
}

.HEAD {
	font-family: "Times New Roman", Times, serif;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	font-style:italic;
	font-size:18px;
	font-weight:bold;
}

.names {
font-family: "Times New Roman", Times, serif;
text-transform: none;
        font-size: 21px; 
	color: #F9F7EA;
}

.sample {
	border-width: 1px;
	border-spacing: ;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	
}
.sample td {
	border-width: 1px;
	padding: 0px;
	border-style: inset;
	border-collapse: collapse;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
.sample tr {
	border-width: 1px;
	padding: 0px;
	border-collapse: collapse;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
