<html><h2 class="changeBlue">Testing & Consultancy Cell welcomes you..!! </h2>
Consultancy Services are being rendered by various Departments of the College to the industry, Sate Government Departments and Entrepreneurs and are extended in the form of expert advice in design, testing of materials & equipment, technical surveys, technical audit, caliberation of instruments, prepartion of technical feasibility reports etc.<br /><br>

This consultancy cell of the college has given a new dimension to the development programmes of the College. Consultancy projects of over Rs. one crore are completed by the Consultancy cell during financial year 2009-10.<br><br>
<a href="http://gndec.ac.in/~tcc/files/brochure.pdf">Brochure of TCC</a><br><br>
<b>Courses</b><br><br>
Current Session
<ul>
    
</hr>
    <li>AIEEE Crash Course View brochure March 26, 2012
    <li>CAD course by Mechanical and Prod. Engineering Department April 30 - June 08, 2012
    <li>Course on VHDL by Electronics and Comm. Engineering Department April 26 - June 06, 2012
    <li>OOPs using C++ View brochure Register online Sept 12 - Nov 11, 2011
</ul>

   Previous Session<br>
<ul>

    <li>CAD course by Mechanical and Prod. Engineering Department June 13 - July 22, 2011
    <li>Course on VHDL by Electronics and Comm. Engineering Department May 23 - July 01, 2011
    <li>AIEEE Crash Course April 2011

    <li>Course on Computer Aided Analysis and Design by Civil Engineering Department June 07 - June 18, 2010
    <li>CAD course by Mechanical and Prod. Engineering Department June 07 - July 16, 2010
    <li>Course by Electrical Engineering Department June 15 - July 25, 2010
    <li>Course on Matlab by Electronics and Comm. Engineering Department June 07 - July 19, 2010
    <li>Course on VHDL by Electronics and Comm. Engineering Department June 07 - July 19, 2010
    <li>Course on PHP and MySQL by CSE and IT Department June 07 - July 19, 2010
    <li>CET Crash Course April 2010
</ul>
</html>
