{% extends "base.html" %}
{% load i18n %}
<html>
<head>
    <title>gne</title>
</head>
{% block content %}
<div align='center'><h1>byeeee</div>
<div align="center">
  <h2>Hello</h2>
</div>

<body>
</br></br></br></br></br><br><br><br><br><br><br><br><br><br><br><br>

<div  style="position:absolute;left:10%;top:40%;"  >
<script type="text/javascript">
<!--
var wbMenuMenuBar1 =
[	
	[null, '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOB &nbsp;', './automation/client/', '_self', '     CLIENTS     ',	],
	
	[null, '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REPORTS&nbsp;', null, '_self', '     REPORTS     ',
	[null, 'CLIENT REPORT', './automation/clientreport/', '_self', '     REPORTS     '],
	[null, 'MONTHLY TAX REPORT', './automation/monthlyreport/', '_self', '     REPORTS     '],	
	[null, 'SUSPENCE REGISTER', './automation/suspencereport/', '_self', '     REPORTS     '],
        [null, 'SUSPENCE CLEARENCE REGISTER', './automation/suspenceclearenceregister/', '_self', '     REPORTS     '],
	[null, 'MAIN REGISTER', './automation/mainregister', '_self', '     REPORTS     '],
	[null, 'PREFORMA BILL REPORTS', './automation/clientreport/preforma/', '_self', '     REPORTS     '],
	[null, 'JOB REGISTER (NON PAYMENT)', './automation/nonpaymentjobregisterreport', '_self', '     REPORTS     '],
	[null, 'JOB REGISTER (PAYMENT)', './automation/paymentjobregisterreport', '_self', '     REPORTS     '],
	[null, 'GOV/SEMI-PRI/PRI', './automation/govprireport', '_self', '     REPORTS     '],
	[null, 'DAILY REPORT', './automation/dailyreport', '_self', '     REPORTS     ']
],
        [null, '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LABS &nbsp;', './automation/labs/', '_self', '     LABS     ',	],

        [null, '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CLIENT&nbsp;&nbsp;&nbsp;&nbsp;', null, '_self', '     USER     ',
	[null, 'ADD NEW CLIENT', './automation/newclient', '_self', 'NEW USER'],
        [null, 'OLD CLIENT', './automation/oldclient', '_self', 'USER'],
],
[	null, '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OTHER&nbsp;&nbsp;&nbsp;', null, '_self', '     USER     ',
	[null, 'JOB REGISTER(NON PAYMENT) ', './automation/nonpaymentjobregister', '_self', '     CLIENTS     ',	],
    [null, 'PROFROMA BILL ', './automation/proformabill', '_self', '     CLIENTS     ',	],
    [null, 'PROFORMA BILL REGISTER', './automation/proformaregister', '_self', '     CLIENTS     ',	],
],
    [null, '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUSPENCE CLEARENCE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;', null, '_self', '     USER    ',
    [null, 'TRANSPORT BILL', './automation/transport', '_self', '     REPORTS     '],
	[null, 'TA/DA BILL', './automation/tada', '_self', '     REPORTS     '],
	[null, 'SUSPENCE REPORT', './automation/suspenceclearence', '_self', '     REPORTS     '],
],
	
	
	

];
-->
</script>
<div id="MenuIDMenuBar1" >
<script type="text/javascript">
<!--
var cmMenuBarMenuBar1 =
{
   mainFolderLeft: '',
   mainFolderRight: '',
   mainItemLeft: '',
   mainItemRight: '',
   folderLeft: '',
   folderRight: '',
   itemLeft: '',
   itemRight: '',
   mainSpacing: 0,
   subSpacing: 0,
   delay: 100,
   offsetSubAdjust: [0, -1]
};
var cmMenuBarMenuBar1HSplit = [_cmNoClick, '<td colspan="3"><div class="MenuBarMenuBar1MenuSplit"></div></td>'];
var cmMenuBarMenuBar1MainHSplit = [_cmNoClick, '<td colspan="3"><div class="MenuBarMenuBar1MenuSplit"></div></td>'];
var cmMenuBarMenuBar1MainVSplit = [_cmNoClick, '<div class="MenuBarMenuBar1MenuVSplit">|</div>'];

cmMenuBarMenuBar1.effect = new CMSlidingEffect(8);
cmDraw('MenuIDMenuBar1', wbMenuMenuBar1, 'hbr', cmMenuBarMenuBar1, 'MenuBarMenuBar1');
-->
</script>
</body>
</html>
{% endblock %}
