<html>
<body>
<h2>Job No. {{job_no}}</h2>
<table border="1" width="100%">
{% load humanize %}
<tr>
			<td>Service Tax:  @ {{ servicetaxprint }}% </td>
			
			<td  align="right">{{ bill.service_tax|intcomma }}</td>
		<tr>
			<td>Education Cess  @ {{ educationtaxprint }}% </td>
			
			<td  align="right">{{ bill.education_tax|intcomma }}</td>
		</tr>
		<tr>
			<td >Higher Education Cess  @ {{ highereducationtaxprint }}% </td>
			
			<td  align="right">{{ bill.higher_education_tax|intcomma }}</td>
		</tr>
		<tr>
				<td>Total </td>
				
			<td  align="right">{{ bill.net_total|intcomma}}</td>
		</tr>	
		</table>
		</html>
	</body>
	</html>
