{% extends "base.html" %}
{% load i18n %}
<html lang="en">
<head>
    <title>Search{% if query %} Results{% endif %}</title>
</head>
{% block content %}
<body>
  <h1 class="changeBlue">Search</h1>
  <form action="." method="GET">
    <label for="q">Type the job_no you want to search: </label>
    <input type="text" name="q" value="{{ query|escape }}" type="number" pattern="[0-9]+" min="1"><br />
    <input type="submit" value="Search"><br /><br />
  </form>
{% if query %}
    <h4>Results for job_no :{{ query|escape }}</h4>

    {% if job %}
	
	<table border="1" cellpadding="10">
	
	<tr>
		<th>Job Id.</th>
		<th>Name & Address</th>
		<th>Work Done</th>
		<th>Site</th>
		<th>Amount</th>
		<th>Report</th>
		<th>Bill</th>
		<th>Receipt</th>
	</tr>
	{% for client in job %}
	<tr>
		<td>{{client.id}}
		<td>{{client.client__client__first_name}} from {{client.client__client__address_1}},{{client.client__client__city}}</td>
		<td> {{client.clientjob__material__name}}</td>	
		<td>{{client.site}}</td>
		<td>{{client.testtotal__unit_price}}</td>
		<td><a href="/auto/tcc11_12/report/?id={{client.id}}">Get Report</a></td>
		<td><a href="/auto/tcc11_12/bill/?id={{client.id}}">Get Bill</a></td>
		<td><a href="/auto/tcc11_12/receipt/?id={{client.id}}">Get Receipt</a></td>
    </tr>
	{% endfor %}


	</table>

	{% else %}
	<p>This Job no does not exist.</p>
	{% endif %}
{% endif %}
</body>
</html>
{% endblock %}
