</head>
<body>

<div>Daily Report Of {{start_date}} to {{end_date}} for {{type}} payment
<table border='1' width='100%'>
	<tr>
		<td><b>Sr.No </b></td>
		<td><b>Receipt No.</b></td>
		<td><b>Date</b></td>
		<td><b>Name of Parties</b></td>
		<td><b>Agency</b></td>
               
		<td><b>Total</b></td>
	</tr>
{% load humanize %}
    {% for clients in client %}
    {% for bills in bill %}
          {% if clients.job_no == bills.job_no %}
         <tr>
			<td>{{forloop.counter}}</td>
			<td>{{ clients.job_no }}</td>
			<td> {{ clients.date }}</td>
			<td> {{clients.client__client__first_name}} {{clients.client__client__middle_name}} {{clients.client__client__last_name}} {{clients.client__client__address}} {{clients.client__client__city}} 
</td>
                       
			<td> {{ clients.client__client__company }}</td>
		        <td ALIGN="right">{{bills.net_total|intcomma}}</td>
		
		</tr>
       		{% endif  %}
        {% endfor %}
        {% endfor %}

	<tr>
         <td colspan='5'><b><center>SUM</center></td>
       
         <td ALIGN="right"><b>{{ net_total|intcomma }}</td>
        </tr>
     
</table>
<br></br></br></br>
</div>

</body>
