{% extends "base.html" %}
{% load i18n %}
<html>
<head>
    <title>gne</title>
</head>
{% block content %}
<div align="center"><h2>Catalog</h2></div>

<div id="leftnav" style=" float: left; width:auto;"><table>
	
		<td><b>Materials</b></td>
 	</tr>

{% if material %}
    {% for materials in material %}	
		
	<tr>
			
			<td> <a href="{{ LOCAL_URL }}/automation/tcc11_12/rate/?id={{ materials.id }}" class="changegreen">{{materials.name}}</a> </td>
</tr>
	{% endfor %}
{% endif %}
    
</table> </div>

</html>
{% endblock %}
