{% extends "base.html" %}
{% load i18n %}

<html>
<head>
    <title>GURU NANAK DEV ENGINNER COLLEGE LUDHIANA</title>
</head>
{% block content %}
<body> 
 <h3>Thanks for Adding job no. : {{ maxid }}, {{material}}, {{id}}</h3>
 <br/>
 <table align="center">
 <caption><center><b>REPORTS</center></caption>	
	 <tr>
		<td><b><center><a href="/automation/tcc11_12/g_report" target="window">GENERAL REPORT</a> </td></tr>
		 <tr><td><b><center><a href="/automation/tcc11_12/bill" target="window">BILL</a> </td></tr>
		 <tr><td><b><center><a href="/automation/tcc11_12/receipt" target="window">RECEIPT</a> </td>
	 </tr>
 </table>
</body>
{% endblock %}
