<html>
<head>
    <title>Main Register</title>
</head>
<body>
<div align="center"> Main Register of {{month_print}}, {{year}} 
<table border='1' width='100%'>
	<tr>
		<td>S.No</td>
		<td>Ref.No </td>
		<td>Date</td>
		<td>Receipt</td>
		<td>Address</td>
		<td>Type of Material</td>
		<td>College Income {{collegeincome }}%</td>
		<td>Admin Charges {{admincharge}}%</td>
		<td>Consultancy</td>
		<td>Dev. Fund</td>
		<td>Total</td>
	</tr>

{% if amount %}
    
    {% for amounts in amount %}
    
       
	 
         <tr>
            <td>{{forloop.counter}}</td> 
			<td>{{ amounts.job__id}}</td> 
			<td> {{ amounts.job__date }}</td>
			<td> {{ amounts.job__job_no }}</td>
			<td> {{amounts.job__client__client__first_name}}</td>
			<td>{{amounts.job__clientjob__material__name}}</td>
			<td>{{amounts.college_income}}</td>
			<td>{{amounts.admin_charge}}</td>
			<td>{{amounts.consultancy_asst}}</td>
			<td>{{amounts.development_fund}}</td>
			<td>{{amounts.unit_price}}</td>
		
			
		</tr>
        
        
        {% endfor %}
{% endif  %}
		<tr>
			<td><b>  </b></td>
			<td><b> </b></td>
			 <td><b></b></td>
			<td><b>  </b></td>
			<td><b> </b></td>
			<td><b> </b></td>
			<td><b> {{college_income}} </b></td>
	         <td><b>{{admin_charge}}</b></td>
	        <td><b>	{{consultancy_asst}} </b></td>
	        <td><b> {{development_fund}}</b></td>
	        <td><b>{{total}} </b></td>
	       
	</tr>	
</table>
</div>


</body>
