<html>
<head>
    <title>Non Payment Register</title>
</head>
<body>
<div align="center"> Non Payment Register 
<table border='1' width='100%'>
	<tr>
        <td>S.No</td>
		<td>letter Date</td>
        <td>Name</td>
		<td>Address</td>
		<td>Letter No</td>
		<td>letter Dated</td>
		<td>Type of Material</td>
		<td>Site</td>
	</tr>

{% if npr_obj %}
    
    {% for obs in npr_obj %}
    
       
	 
         <tr>
            <td>{{obs.id}}</td> 
		<td> {{ obs.date }}</td>
            <td>{{ obs.client__first_name}} {{ obs.client__middle_name}} {{ obs.client__last_name}}</td> 
			<td>{{obs.client__address}} </td>
			<td>{{ obs.ref_no }} </td>
			<td>{{ obs.dated }}</td>
			<td>{{ obs.material_type }}</td>
			<td>{{obs.site}}</td>
		
			
		</tr>
        
        
        {% endfor %}
{% endif  %}
	       
</table>
</div>


</body>
