{% extends "base.html" %}
{% load i18n %}
<html>
<head>
    <title>Previous Jobs done</title>
</head>
{% block content %}
<body>

<h1 class="changeBlue"> Previous Jobs for {{user.first_name}}</h1>
<table border='1' width='100%'>
	<tr>
		<th>Sr.No </th>
		<th>Ref. No</th>
		<th>Receipt No.</th>
		<th>Date</th>
		<th>Work done</th>
		<th>Site</th>
		<th>Type of Report</th>
		<th>Status</th>
		
	</tr>
{% if job %}
  
    {% for jobs in job %}
   
        
         <tr>
                        <td align="center">{{forloop.counter}}</td>
			<td align="center">{{ jobs.id }}</td>
			<td align="center">{{ jobs.job_no }}</td>
			<td align="center"> {{ jobs.date }}</td>
		
			<td align="center">{% if jobs.report_type == 1 %} {{jobs.clientjob__material__name}}{% else %}{{jobs.suspencejob__field__name}}{% endif %}</td>
			
			<td align="center"> {{jobs.site}}</td>
			<td align="center"> {{jobs.amount__report_type}}</td>
			<td align="center"> {% if jobs.amount__college_income == NULL %} <a href="/auto/tcc11_12/clearjob/?job_id={{ jobs.id }}">clear job</a>{% else %} Cleared {% endif %}</td>
			
			
		</tr>
      		
	{% endfor %}
{% endif  %}
</body>
	
</table>
</div>


</body>
{% endblock %}
