<html>
<head><title>Report</title></head>
<body>
<br>

<div style="position:absolute;right:7px;top:55px;">Main/Mat. No :<u>{{ job_no }}</u> </div>
<div style="position:absolute;right:7px;top:75px;">Dated :  </div>
<div style="position:absolute;left:7px;top:105px;">Director,</div>
<br/> <br/><br/><br/><br></br>
Received a sum of Rs. {{amount.unit_price }}/- ( Rupees {{ net_total_eng }} only ) <br/><br>
Vide Cash from : {{ pro }} <br><br>
On account of : testing/checking {{ mate.name }} <br/><br>
<div style="position:absolute;left:7px;top:270px;">Vide Receipt No. : {{job_no }}  Dated: </div>
<div style="position:absolute;left:7px;top:290px;">Nature of Consultancy :{{ client.type }},  Ratio {{ ratio1 }}:{{ ratio2 }} </div>
<div align= "left">
<br/><br/><br/></br>
<table border="1" width="100%">
<tr>
	<td colspan="3">THE DISTRIBUTION MAY BE MADE AS</td>
</tr>

  
<tr>
	<td rowspan="9">CREDITS</td>
	<td>COLLEGE INCOME {{ collegeincome }}% </td>
	<td  align="right">{{ amount.college_income }}.00</td>
</tr>
<tr>
	<td>ADMN. CHARGES {{ admincharge }}% </td>
	<td  align="right">{{ amount.admin_charge }}.00</td>
</tr>
<tr>
	<td>CONSULTANCY ASST. </td>
	<td  align="right">{{ amount.consultancy_asst }}.00</td>
</tr>
<tr>
	<td>DEV. FUND (CONSULTANCY) </td>
	<td  align="right">{{ amount.development_fund }}.00</td>
</tr>
<tr>
	<td>TOTAL (Rs.) </td>
	<td  align="right">{{ amount.unit_price }}.00</td>
</tr>
</table>
</div>
<br>
<br>
<div>
<table border="1" width="100%">
<tr>
	<td colspan="3"></TD>
</TR>
<tr>
	<TD>NAME OF EMPLOYEES</TD>
	<TD>DESIGNATION</TD>
</tr>
{% if staff  %}
    {% for part in staff %}
<tr>
	
	<TD> {{ part.name }}</TD>
	<td> {{ part.position }}</TD>
</tr>
	{% endfor %}
{% endif %}
</TABLE>
</div>
<div align="left">THE WORK HAS BEEN EXECUTED BY ABOVE PERSONS AS MENTIONED ABOVE. </div>
<br>
<div>(Supdt. Accounts)</div><div align="right">DEAN</div><br>
<div align="left">
Account Clerk (Consultancy)</div>

</body>
</html>

