{% extends "base.html" %}
{% load i18n %}
<html lang="en">
<head>
    <title>Search{% if query %} Results{% endif %}</title>
</head>
{% block content %}
<body>
  <h1 class="changeBlue">Search a Client</h1>
  <form action="." method="GET">
    <label for="q">Name: </label>
    <input type="text" name="q" value="{{ query|escape }}">
	<label for="add">Address: </label>
    <input type="text" name="add" value="{{ addquery|escape }}"><br>
   
    <input type="submit" value="Search">
  </form>

  {% if query %}
    <h2>Results for "{{ query|escape }}":</h2>
<table border='1' width='100%'>
<tr>
		<th>Sr.No </th>
		<th>Name of Parties</th>
                <th>Address</th>
		<th>Type of organisation</th>
		<th>Your Activity<th>
	</tr>
    {% if results %}
      
      {% for client in results %}
	<tr>
	<td>{{forloop.counter}}</td>
        <td> {{ client.first_name }}</li>
        <td> {{client.address_1}},{{client.city}}</td>
        <td>{{client.type_of_organisation}}</td>
       <td><a href="/auto/tcc11_12/addjob/?id={{ client.id }}">ADD JOB</a>/
	<a href="/auto/tcc11_12/selectfield/?id={{ client.id }}">ADD PERFORMA JOB</a>/
	<a href="/auto/tcc11_12/prevwork/?id={{ client.id }}">View Previous Work</a></td>
	</tr>
      {% endfor %}
      </ul>
    {% else %}
      <p>No clients found</p>
    {% endif %}
</table>
  {% endif %}
</body>
</html>
{% endblock %}
