<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
    <title>Search{% if query %} Results{% endif %}</title>
</head>
<body>
  <h1>Search</h1>
 <form action="." method="get" accept-charset="utf-8">
   <label for="q">Search a material: </label> <select name="q"  >
        <option value="{{ field.name }}">All</option>
        {% for field in field_list %}
            <option value="{{ field.id }}">{{ field.name }}</option>
        {% endfor %}
    </select>
	<input type="submit" value="Search"></form>
	
    <!--<label for="q">Search: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Search">
  </form>-->
   <form action="" method="post">
	{% csrf_token %}
{% if query %}	
    <h2>Tests for "{{ material.name}}":</h2>

	Name : {{ material.name}}<br>
	<label for="id_site">Site:</label></th><td><input type="text" name="site" id="id_site" />
	 <table>
			<tr><th>check tests</th><th>Test Name</th><th>Quantity</th><th>Costs</th></tr>
{% if test %}
      {% for tests in test %}
	
			<tr><td><input type="checkbox" name="test" id="id_test" /></td><td>{{tests.name }}</td><td align="center">{{tests.quantity }}</td><td>{{tests.cost }}</td>
        
        
	
      {% endfor %}
       
       {% endif  %}
	
	</tr></table><br>
	
	<!--<input type=button onClick="location.href='http://localhost/automation/tcc11_12/addtocart/'" value='Add to Job'>
	<input type=button onClick="location.href='http://localhost/automation/tcc11_12/removefromcart/'" value='Remove from Job'>
	<input type=button onClick="location.href='http://localhost/automation/tcc11_12/addjob/'" value='Save and quit'>-->
      </ul>
    {% else %}
      <p>No material found</p>
    {% endif %}<input type="submit" value="Submit"></form>
</body>
</html>
