<html>
<head>
    <title>Suspence Report</title>
</head>
<body>
<div align="center"><h2>{{ title.name }}</h2></div>
<div>Suspence Report Of {{start_day}}-{{start_month}}-{{start_year}} to {{end_day}}-{{end_month}}-{{end_year}}
<table border="1" width="100%">
	<tr>
		<td>Job. No </td>
		<td>Address</td>
		<td>Bill Amount</td>
		<td>Service Tax ( {{ servicetaxprint }} %)</td></td>
		<td>Edu. Cess ( {{ educationtaxprint }} %)</td>
		<td>H. Edu. Cess ( {{ highereducationtaxprint }} %)</td>
		<td>Total Amount</td>
		<td>TDS</td>
		<td>Received Amount</td>
		<td>Type of Material</td>
		<td>Receipt No.</td>
		<td>Receipt Date</td>
		<td>D.O.T</td>
		<td>Mode of Payment</td>
		<td>DD/Check No.</td>
		<td>DD/Check Date</td>
		<td>Clear Amount</td>	
		<td>No. & Date</td>
		
	</tr>
{% if client %}
    {% for clients in client %}
    {% for amounts in amount %}
    {% for suspences in suspence %}
         {% if clients.job_no == amounts.job_no %}
         {% if clients.job_no == suspences.job_no %}
         <tr>
			<td>{{ clients.job_no}}</td> 
			<td>{{ clients.name_and_address}}</td>
			<td>{{amounts.total}}</td>
			<td>{{amounts.service_tax}}</td>
			<td>{{amounts.education_tax}}</td>
			<td>{{amounts.higher_education_tax}}</td>
			<td>{{amounts.net_total}}</td>
			<td>{{amounts.tds}}</td>
			<td>{{amounts.balance}}</td>
			<td>{{amounts.field}}</td>
			<td> {{clients.receipt_no}}</td>
			<td> {{ clients.date }}</td>
			<td></td>
			<td>{{suspences.type}}</td>
			<td>{{suspences.check_number}}</td>
			<td>{{suspences.check_dd_date}}</td>
			<td> </td>
			<td> </td>
		{% endif  %}	
		{% endif  %}	
		</tr>
    {% endfor %}
    {% endfor %}
    {% endfor %}
{% endif  %}
			<tr>
			<td colspan="2"><b>TOTAL</td>
			<td><b>{{total}}</td>
			<td><b>{{service_tax}}</td>
			<td><b>{{education_tax}}</td>
			<td><b>{{higher_education_tax}}</td>
			<td><b>{{net_total}}</td>
			<td><b>{{tds}}</td>
			<td><b>{{balance}}</td>
</table>
</div>


</body>
