{% extends "base.html" %}
{% load i18n %}

<html>
<head>
    <title>GURU NANAK DEV ENGINNER COLLEGE LUDHIANA</title>
</head>
{% block content %}
<body>
<table><caption><center>Suspence Clearence Job No. : {{job_no }}</center></caption>
	<tr>
		<td> Boring Charge Internal : {{boring_charge_internal}}</td>
	<tr>
		<td> Boring Charge External : {{boring_charge_external}}</td>
	
	<tr>
		<td>Labour charge : {{labour_charge}}</td>
	<tr>
		<td>Car / Taxi  Charge : {{car_taxi_charge}}</td>
	<tr>
		<td>Suspence Bill No. : {{suspence_bill_no}}</td>
	<tr>
		<td>Lab Testing Staff : {{lab_testing_staff}} </td>
	</tr>
</table> 
  <br/><br/>
 <table>
 <caption><center><b>REPORTS</center></caption>	
	 <tr>
		<td><b><center><a href="{{ LOCAL_URL }}/auto/tcc11_12/suspenceclearencereport/?job_no={{ job_no }}"  target="window">Suspence Clearence Report (With transport)</a> </td>
		 
	 </tr>
 </table>
</body>
{% endblock %}
