<html>
<head><title>Suspence Clearence Report</title></head>
<body>
<br/>
<div style='position:absolute;left:7px;top:55px;'>Voucher No : ____________ </div> 
<div style='position:absolute;right:7px;top:55px;'>Main/Mat. No :<u>{{ job_no }}</u> </div>
<div style='position:absolute;left:7px;top:75px;'>Dated : ____________ </div>
<div style='position:absolute;right:7px;top:75px;'>Dated : ____________ </div>
<div style='position:absolute;left:7px;top:105px;'>Director,</div>
<br/> <br/><br/><br/>
<div style='position:absolute;left:7px;top:125px;'>
Received a sum of Rs. {{amount.unit_price }}/- ( {{ net_balance_eng }} only ) <br/><br/>
Vide {{client.pay}} {{client.check_number}}, {{client.check_dd_date}} from : {{ clientname.client__client__first_name}} <br/>
Vide bill No. : GNDEC/TCC/B/{{client.job_no}}    Dated : {{ client.date }}<br/>
On account of : {{ clientname.suspencejob__field__name }} Vide Receipt No. : {{client.job_no }}	Dated: {{ client.date }} <br><br>
Nature of Consultancy :{{ consultancy.type }},  Ratio {{ ratio1 }}:{{ ratio2 }} </div>
<br/><br/><br/><br/><br><br><br><br />
<div>
<table border='1' width='100%'>
<tr>
	<td colspan='2'>THE DISTRIBUTION MAY BE MADE AS</td>
	<td >Date of Testing</td>
	
</tr>
<tr>
	<td rowspan='15'>CREDITS</td>
	<td>COLLEGE INCOME {{ collegeincome }}% </td>
	<td width='15%' rowspan='15'>{{ta_da.test_date}}</td>
	<td  align='right'>{{ amount.college_income }}.00</td>
</tr>
<tr>
	<td>ADMN. CHARGES {{ admincharge }}% </td>
	
	<td  align='right'>{{ amount.admin_charge }}.00</td>
</tr>
<tr>
	<td>CONSULTANCY ASST.(CONSULTANCY) </td>
	<td  align='right'>{{ amount.consultancy_asst }}.00</td>
</tr>
<tr>
	<td>DEV. FUND (CONSULTANCY) </td>
	<td  align='right'>{{ amount.development_fund }}.00</td>
</tr>
<tr>
	<td>WORK CHARGES(CONSULTANCY)</td>
	<td  align='right'>{{ suspence.work_charge }}.00</td>
</tr>

<tr>
	<td>OTHER CHARGES</td>
	<td  align='right'>{{other}}.00</td>
</tr>
<tr>
	<td>BORING CHARGES (Internal)</td>
	<td  align='right'>{{suspence.boring_charge_internal}}.00</td>
</tr>


<tr>
	<td>TOTAL </td>
	<td  align='right'>{{amount.unit_price}}.00</td>
</tr>

</table>
</div>
<br>
<br>
<div>
<table border='1' >
<tr>
	<td>FIELD TESTING STAFF</td>
	<td>LAB TESTING STAFF</td>
</tr>
<tr>
	
<tr>
	<td>{{suspence.field_testing_staff}}</td>

	<td>{{suspence.lab_testing_staff}}</td>
</tr>
</table>
THE WORK HAS BEEN EXECUTED BY ABOVE PERSONS AS MENTIONED ABOVE. </div>
<br>
<div align= 'left'>Voucher No : ____________ </div> 
<div align= 'left'>Dated : ____________ 
<br><br><br>(Supdt. Accounts)<br><br><br>Account Clerk (Consultancy)<div align='right'>DEAN {{ sign.name}}</div>

<table border='1' >
<tr>
	<TD>Code</TD>
	<TD>NAME OF EMPLOYEES</TD>
	<TD>DESIGNATION</TD>
</tr>
{% if teachers  %}
    {% for part in teachers %}
<tr>
	<TD>{{part.code}}</TD>
	<TD> {{ part.name }}</TD>
	<td> {{ part.position }}</TD>
</tr>
	{% endfor %}
{% endif %}
</TABLE>
</body>
</html>
