{% extends "base.html" %}
{% load i18n %}

<html>
<head>
    <title>Gndec Ludhiana</title>
</head>
{% block content %}
<body>
<br/><br/>
<table border="2">
<caption><center><b> TA/DA Bill </b> </center></caption>
	<tr>
		<td>  Job id. : {{tada.job_id}}</td>
	<tr>
		<td> Date of Testing : {{tada.test_date}}</td>
	<tr>
		<td>Reach Site : {{tada.reach_site}}</td>
	<tr>
		<td><center><a href="{{ LOCAL_URL }}/auto/tcc11_12/tadabill/?job={{tada.job_id}}&test_date={{tada.test_date}}" target="window"><b> Transport Bill</b></a></center>  </td>
		
	</tr>
	
</table>


</body>
{% endblock %}
