{% extends "base.html" %}
{% load i18n %}
<html>
<head>
    <title>gne</title>

</head>
{% block content %}
<script>
var selectedEl;
document.onclick = function(evt)
{
    var el = window.event? event.srcElement : evt.target;
    if (el && el.className == 'unselected')
    {
        
        selectedEl.className = 'unselected';
        
        selectedEl = el;
        
        selectedEl.className = 'selected';
    }
}
</script>
<style>
 .selected { background: #76B900; }
</style>
<div align="center"><h2>Catalog</h2></div>
<br/>
 <div id="leftnav" style=" float: left; width:auto;"> <table>
	<tr><td><b>S.No</b></td>
		<td> </td>
		<td> </td>
		<td><b>Materials</b></td>
 	</tr>

{% if field %}
    {% for fields in field %}	
		
	<tr>
			<td>{{forloop.counter}}</td>
			<td> </td>
			<td> </td>
			<td> <span class="unselected"><a href="/automation/tcc11_12/rate/?id={{ fields.id }}" class="changegreen">{{fields.name}}</a> </span></td>
</tr>
	{% endfor %}
{% endif %}</table>
</div> 
  <div id="content" style="float: left; width: auto; position: absolute; right: 0px; left: 300px;"> 
  <table >	<tr>
		<td><b>S.No</b></td>
		<td> </td>
		<td> </td>
		<td><b>Test for <font color="#76B900">{{material.name}}</font></b></td>
		<td> </td>
		<td> </td>
		<td><b>Quantity</b></td>
		<td> </td>
		<td> </td>
		<td><b>Cost</b></td>
		
 	</tr></font>
{% if test %}
    {% for tests in test %}
	<tr>
			<td>{{ forloop.counter}}</td>
			<td> </td>
			<td> </td>
			<td>{{tests.name}}</a> </td>
			<td> </td>
			<td> </td>
			<td>{{tests.quantity}} {{tests.unit}}</a> </td>
			<td> </td>
			<td> </td>
			<td>{{tests.cost}}</a> </td>
</tr>
        {% endfor %}
{%endif %}
</table> </div>

</html>
{% endblock %}

