{% extends "base_noclient.html" %}
{% load i18n %}

{% block content %}
<h1 class="changeBlue">Rate list for {{mat.name}}</h1>
 <table width=100% ALIGN=LEFT border=1>

	<tr>
		
		<td><b> <font color="#76B900">{{mat.name}}</font></b></td>
		
		<td><b>Quantity</b></td>
		
		<td><b>Cost</b></td>
		
 	</tr>
{% if test %}
    {% for tests in test %}
	<tr>
			
			<td>{{tests.name}} </td>
			
			<td>{{tests.quantity}} {{tests.unit}}</td>
			
			<td>{{tests.cost}}</td>
</tr>
        {% endfor %}
{%endif %}
</table>  


{% endblock %}

