{% extends "base.html" %}
{% load i18n %}
<html>
<head>
    <title>Gndec Ludhiana</title>
</head>
{% block content %}

<br>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
	{% csrf_token %}
        <table>
			<tr><th><label for="id_date">Date:</label></th><td><input type="text" name="date" value="2010-12-01" id="id_date" /></td></tr>
            <tr><th><label for="id_job_no">Job No:</label></th><td><input type="text" name="job_no" id="id_job_no" /></td></tr>
			<tr><th><label for="id_bill_no">Bill no:</label></th><td><input type="text" name="bill_no" id="id_bill_no" /></td></tr>
			<tr><th><label for="id_kilometer">Kilometer:</label></th><td><input id="id_kilometer" type="text" name="kilometer" value="00, 00, 00" maxlength="150" /></td></tr>
			<tr><th><label for="id_rate">Rate/km:</label></th><td><input type="text" name="rate" value="4" id="id_rate" /></td></tr>
			<tr><th><label for="id_test_date">Test dates:</label></th><td><input id="id_test_date" type="text" name="test_date" value="0000-00-00, 0000-00-00" maxlength="300" /></td></tr>
        </table>
        <input type="submit" value="Submit" >
    </form>

</html>
{% endblock %}
