<html>
<head><title>Transport Bill</title></head>
<body><center><h3>TRANSPORT BILL<br>({{ sub_title.name}})</h3><br>{{ title.name }}</center>
<br/>
<div align="left"> Bill No.: {{transport.bill_no }}</div>
<div align="right"> Dated : {{ transport.date }}</div>
<div align="left">Name : {{client.name_and_address}}</div> 
<br/><br/><br/>

<div align="left"></div>
<table "border=1" width="75%" height="25%" >
	<tr>
		<td align="center">Date of Use </td>
		<td align="center">No. of Km</td>
		<td align="center">Rate</td>
		<td align="center">Amount</td>
	</tr>
	<tr align="center">
		<td >{{transport.test_date}}</td>
		<td >{{transport.kilometer}}</td >
		<td>{{transport.rate}}</td>
		<td>{{transport.total}}.00</td>
	</tr>
</table>
<br/><br/>
<div align="left"><b>  {{vehical_no.name}}</b></div><br/><br/>
<div align="right"><b> Dean {{sub_title.name}}</b></div>
</body>
</html>
