{% extends "base.html" %}
{% load i18n %}
<html>
{% block content %}
	<h1 class="changeBlue">Add Job</h1>

 <label for="id_search">Type of work:</label><select name="form" ONCHANGE="location =
this.options[this.selectedIndex].value;">
	<option value="">Select Work</option>
{% for reports in report %}
  <option value="{{ LOCAL_URL }}/auto/tcc11_12/select/?id={{reports.id}}">{{reports.name}}</option>
	{% endfor %}
</select>
 
<br/><br/><i><b><u>Type of work done (explained in brief)</u></b></i>
<br/>
<i><b>Field works are :</b></i><br/>
{% if mat %}
	{% for material in mat %}
 		{% if material.report_id == 2 %}
		{{material.name}}<br/>
		{% endif %}
	{% endfor %}
{% endif %}
<i><b>Lab works are :</b></i> <br/>
{% if mat %}
	{% for material in mat %}
		{% if material.report_id == 1 %}		
		{{material.name}}<br/>
		{% endif %}
	{% endfor %}
{% endif %}
</div>
</html>
{% endblock %}
