{% extends base_template|default:"base.html" %}
{% load i18n %}
<html>
	<head>
		<title>{{title.name}}</title>
	</head>

{% block content %}
	
	<h2 class="changeBlue">Add Job</h2>
<table>
 <tr>
 	<td><label for="id_search">Type of work:</label></td>
 	<td><select name="form" ONCHANGE="location =
this.options[this.selectedIndex].value;">
	<option value="">Select Work</option>
{% for reports in report %}
  <option value="{{ LOCAL_URL }}/automation/tcc/select/?id={{reports.id}}&client={{client}}">{{reports.name}}</option>
	{% endfor %}
</select></td>
 </table>
<br/><br/><i><b><u>Type of work done (explained in brief)</u></b></i>
<br/>
<i><b>Field works are :</b></i><br/>
{% if mat %}
	{% for material in mat %}
 		{% if material.report_id == 2 %}
		{{material.name}}<br/>
		{% endif %}
	{% endfor %}
{% endif %}
<i><b>Lab works are :</b></i> <br/>
{% if mat %}
	{% for material in mat %}
		{% if material.report_id == 1 %}		
		{{material.name}}<br/>
		{% endif %}
	{% endfor %}
{% endif %}
</div>
</html>
{% endblock %}
